In [1]:
pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading pandas-2.0.2-cp311-cp311-win_amd64.whl (10.6 MB)
     ---------------------------------------- 10.6/10.6 MB 2.5 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     -------------------------------------- 502.3/502.3 kB 2.4 MB/s eta 0:00:00
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     -------------------------------------- 341.8/341.8 kB 3.5 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.21.0 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.0.2 pytz-2023.3 tzdata-2023.3

In [2]:
import pandas as pd

In [3]:
a=[10,20,30,40,50]
pd.Series(a)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
pd.Series(a,index=['i','ii','iii','iv','v'])

i      10
ii     20
iii    30
iv     40
v      50
dtype: int64

In [7]:
d={"names":["mahi","adhi","maheswari"],"percentages":[60,70,90]}
pd.DataFrame(d)

       names  percentages
0       mahi           60
1       adhi           70
2  maheswari           90

In [8]:
d={"name":["sudheshna","navya","maheswari","devi","rukmini"],"college":["BIT","SACET","SACET","AGC","SACET"],"course":["ECE","ECE","CSE","AGBSC","CSE"],"percentage":[70,85,90,78,84]}
pd.DataFrame(d)

        name college course  percentage
0  sudheshna     BIT    ECE          70
1      navya   SACET    ECE          85
2  maheswari   SACET    CSE          90
3       devi     AGC  AGBSC          78
4    rukmini   SACET    CSE          84